<h1>Buildings</h1>

<br>
<table class="table table-striped table-hover">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Actions</th>
    </tr>
    <% @all.each do |b| %>
    <tr>
        <td> <%= b.name %>  </td>
        <td> <%= b.address %>  </td>
        <td> <%= b.city %>  </td>
        <td> 
            <%= link_to "Show", building_url(b.id), class: "btn btn-info btn-sm"  %>
             
        </td>

    </tr>
    <% end %>
</table>

<br>
<%= link_to "New", new_building_url, class: "btn btn-primary" %>