<h1>Buildings</h1>


<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Actions</th>
    </tr>
    <% @all.each do |b| %>
    <tr>
        <td> <%= b.name %>  </td>
        <td> <%= b.address %>  </td>
        <td> <%= b.city %>  </td>
        <td> 
            <%= link_to "Show", controller: "buildings", action: "show", id: b.id %>
             
        </td>

    </tr>
    <% end %>
</table>

<%= link_to "New", controller: "buildings", action: "new" %>