<div class="container">

<h1>Building <%= @building.name %></h1>
<br>
<h2>Information</h2>
<hr>
<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td><%= @building.name %></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><%= @building.address %>, <%= @building.city %></td>
    </tr>    
</table>

<br>

<h2>List of Aparments</h2>
<hr>
<table class="table table-sm table-bordered">
    <tr>
        <th>Number</th>
    </tr>
<% @building.apartments.each do |app|  %>
    <tr>
        <td>
            <%= app.number %>
        </td>
    </tr>
<% end %>

</table>

<br>
<%= link_to "Return", buildings_url, class: "btn btn-outline-secondary" %>
</div>