<h1>Building <%= @building.name %></h1>
<p>Find me in app/views/buildings/show.html.erb</p>

<table>
    <tr>
        <td>Name</td>
        <td><%= @building.name %></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><%= @building.address %>, <%= @building.city %></td>
    </tr>    
</table>

<table>
    <tr>
        <th>Number</th>
    </tr>
<% @building.apartments.each do |app|  %>
    <tr>
        <td>
            <%= app.number %>
        </td>
    </tr>
<% end %>

</table>

<%= link_to "Return", controller: "buildings", action: "index" %>