<div class="container">

<h1>New Apartment</h1>
<br>
<%= form_for(@apartment, :url => apartments_path, :method => "post") do |f| %>
<div class="mb-3">
    <%= f.label :Building , class: "form-label" %>
    <%= f.select :building_id, options_from_collection_for_select(@buildings, :id, :name) , {}, {class: "form-select"}%>
</div>
<br>
<div class="mb-3">
    <%= f.label :Number , class: "form-label" %>
    <%= f.text_field :number , class: "form-control" %>
</div>
<br>
<%= f.submit :"Add" %>
<% end %>   
<br>
<%= link_to "Return", apartments_url, class: "btn btn-outline-secondary" %>
</div>