<div class="container">

<h1>Apartment <%= @apartment.number %></h1>
<br>
<h2>Information</h2>
<table class="table table-bordered" >
    <tr>
        <td>Name</td>
        <td><%= @apartment.building.name %></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><%= @apartment.building.address %>, <%= @apartment.building.city %></td>
    </tr>
    <tr>
        <td>Apartment Number</td>
        <td><%= @apartment.number %></td>
    </tr>    
</table>

<br>
<%= link_to "Return", apartments_url, class: "btn btn-outline-secondary" %>
</div>